* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FFB900;
    --font-heading: sen, sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "poppins", sans-serif;
}

/* common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #FFF;
    background: #171100;
    border-radius: 999px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
    color: #171100;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17; /* 117.241% */
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26; /* 126.316% */
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2
}

.break-all {
    word-break: break-all;
}

/* header */
.header {
    background: #FFFCF4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;  /* thuộc tính giúp thành phần nằm trên các thành phần khác */
}

.header .body {
    display: flex;
    align-items: center; /* để canh 3 cái logo và btn và thẻ ul li theo trục ngang */
    padding: 36px 0  8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5F5B53;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* hero */
.hero {
    padding: 56px 0 65px;
    background: #FFFCF4;
}

.hero .body {
    display: flex;
}

/* hero left */
.hero .media-block { 
    position: relative;
    width: 48%; /* tính % khối bên trái 570 1170*100=48% */
}

.hero .content-block {
    width: 52%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    vertical-align: bottom; /* thanh phan giup cho canh chinh dong base */
}

.hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
    display: flex;  /* cho các phần bên trong nằm thẳng với nhau */
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 22px;  /* để cho các item cách nhau đẩy nhau 22px */
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF9E8;
}

.hero-summary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}


.hero-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

/* hero right */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
    color: #5F5B53;
}

.hero .cta-group {
    display: flex;
    align-items: center; /* canh giữa hai phần tử */
    margin: 38px 0 48px;
}

.hero .cta {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    margin-left: 28px;
    border: none;
    background: transparent;
    cursor: pointer; /* hình bàn tay nhấn khi hover */
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    color: #171100;
}

.hero .stars {
    margin-left: 8px 0 0  -28px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-style: 4.4rem;
    line-height: 1.23;
    color: #171100;
}
/* popular */
.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    margin-top: 16px;
    width: 458px;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
    color: #5F5B53;
}

.control {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
}

.popular-top .control-btn:hover {
    color: #FFF;
    background-color: var(--primary-color);
    cursor: pointer;
}

.popular .course-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .course-item {
    flex: 1;
    background: #FFF;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.popular .course-item:hover {
    border: none;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item .rating,
.popular .course-item .foot,
.popular .course-item .info .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular .course-item .title a {
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
    color: #171100;
}

.popular .rating .value {
    margin-left: 6px;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
    color: #FEA31B;
}

.popular .course-item .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.86; /* 185.714% */
    color: #5F5B53;
}

.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67; /* 166.667% */
    color: #171100;
}

.popular .course-item .book-btn {
    border: none;
}

.popular .course-item .book-btn:hover {
    color: #FFF;
    background: var(--primary-color);
}

/* feedback */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2E2100;
}

.feedback-list{
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    font-family: var(--font-heading);
    margin-top: 18px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42; /* 141.667% */
    color: #F7F7F7;
}

.feedback-item .info .desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB3;
}

.feedback-item .dots {
    display: flex;
    margin-top: 28px;
}

.feedback-item .dot {
    margin-right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback-item .dot.active {
    background: #FFB900;
    cursor: default;
}

.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback-item blockquote {
    margin-left: 30px;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54; /* 153.846% */
    color: #FFF;
}

/* features */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
}

.features .images {
    display: flex;
    gap: 0 30px;
}

.features .images img {
    width: 270px;
    height: 404px;
    border-radius: 16px;
    object-fit: cover;
}

.features img.lower {
    margin-top: 34px;
}

.features .content {
    width: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;     /* giup cho phan content ko bi xe dich  */
}

.features  .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
    color: #5F5B53;
}

.features .content .cta-btn {
    margin-top: 32px;
    min-width: 137px;
    color: #fff;
    background: var(--primary-color);
}

.features-2nd {
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .content {
    width: 49%;
}

.features-2nd .images img {
    width: 470px;
    height: 440px;
}

/* blog */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #FFFCF4;
}

.blog .blog-top {
    text-align: center;
}

.blog .blog-top .desc {
    margin: 16px auto auto;
    width: 448px;
    font-size: 1.6rem;
    color: #696262;
    line-height: 1.75; /* 175% */
}

.blog .blog-list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.blog .item {
    width: 33.33%;
    border-radius: 16px;
    background: #FFF;
}

.blog .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .item .info {
    padding: 20px 20px 28px;
}

.blog .item .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-bottom: 12px;
    font-size: 1.4rem;
    line-height: 1.85; /* 185.714% */
    color: #5F5B53;
}

.blog .item .date::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog .item .date::after {
    position: absolute;
    left: 0;
    right: -27px;
    bottom: 0;
    content: "";
    display: inline-block;
    height: 1px;
    background: #E2DFDA;
    border-radius: 0.5px;
}

.blog .item .title a {
    display: inline-block;
    margin: 12px 0;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    color: #171100;
}

.blog .item .btn:hover {
    background: var(--primary-color);
}